.App {
  padding: 10px;
}

.node .info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.node button {
  margin-right: 5px;
}

.node .box {
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 1px solid #000;
}

.hidden {
  visibility: hidden;
}
